<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.raveline.daggerinjection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".mvvm.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaggerInjection"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mvvm.presentation.artist.ArtistActivity"
            android:label="Artists"
            android:parentActivityName=".mvvm.ui.MvvmMainAcitivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".mvvm.presentation.movie.MovieActivity"
            android:label="Movies"
            android:parentActivityName=".mvvm.ui.MvvmMainAcitivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".mvvm.presentation.tv.TvShowActivity"
            android:label="TvShows"
            android:parentActivityName=".mvvm.ui.MvvmMainAcitivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".HomeActivity"
            android:label="MVVM App Model"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvvm.ui.MvvmMainAcitivity" />
        <activity android:name=".dagger.MainActivity" />
    </application>

</manifest>